*{
    background-color: black;
    margin:0;
    padding:0;
    font-family: 'Staatliches', cursive;
}
.text{
    font-family: 'Roboto', sans-serif;
    color: silver;
}

p{
    font-weight: bold;
    color:rgb(74, 143, 233);
    text-decoration: underline ;
}
.footer {
    background-color: black;
    color: silver;
    height: 200px;
}

ul {
    font-size: 25px;
    display: flex;
    align-items:center;
    justify-content:center; 
    justify-content: space-around;
    height: 200px;
    list-style-type: none;
}

li {
    padding-right: 5px;
    border-right: 2px solid silver;
}

li:hover {
    /* text-decoration: underline wavy gold; */
    color:rgb(74, 143, 233);
}

@media screen and (max-width: 400px) { 
    ul{ 
      display: flex;
      flex-direction: column;
    } 
  }
