body {
    background-color: black;
    padding-left: 50px;
}


h1 {
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    padding-left: 50px;
}

h2 {
    color : white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-left: 50px;
}

.flex-gallery-team {
        display: flex;
        margin: 50px;
}

.flex-gallery-team2 {
    display: flex;
    margin: 50px;
}

.flex-gallery-team3 {
    display: flex;
    margin: 50px;
}

img {
    width: 300px;
    height: 400px;
    margin: 15px;
}